<div class="p-4 border-r">
  <ul>
    <%= render("admin/menu_item.html",
      text: "App Access",
      path: Routes.app_access_path(@conn, :index),
      conn: @conn
    ) %>

    <%= render("admin/menu_item.html",
      text: "Users",
      path: Routes.user_management_path(@conn, :index),
      conn: @conn
    ) %>

    <%= render("admin/menu_item.html",
      text: "Live Dashboard",
      path: Routes.live_dashboard_path(@conn, :home),
      conn: @conn
    ) %>
  </ul>
</div>
