<section class="container mx-auto pt-2 pb-8 lg:pt-14">
  <p class="text-center text-4xl font-semibold lg:text-6xl xl:text-7xl">
    Turbo Racer <br />
  </p>
   <p class="mx-auto max-w-2xl py-4 text-center">
    Open-source API for managing your <a href="https://turborepo.org/" class="underline">Turborepo</a> cache.
  </p>
</section>
