<main class="container mx-auto">
  <%= if Phoenix.Flash.get(@flash, :info) != nil do %>
    <div class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg" role="alert">
      <%= Phoenix.Flash.get(@flash, :info) %>
    </div>
  <% end %>
  <%= if Phoenix.Flash.get(@flash, :error) != nil do %>
    <p class="alert alert-danger" role="alert"><%= Phoenix.Flash.get(@flash, :error) %></p>
  <% end %>

  <%= @inner_content %>
</main>
