<footer class="container pb-16 mx-auto mt-16 text-sm leading-6 border-t-2 border-solid">
  <ul>
    <li>
      <%= link("Created with 🖤 by Bruno Paulino", to: "https://twitter.com/bpaulino0") %>
    </li>
    <li>
      <%= link("Github", to: "https://github.com/brunojppb/turbo-racer") %>
    </li>
  </ul>
</footer>
