<footer class="container pb-16 mx-auto mt-16 text-sm leading-6 border-t-2 border-solid">
  <ul>
    <li>
      <%= link("🐙 Github", to: "https://github.com/brunojppb/turbo-racer", class: "underline") %>
    </li>
    <li>
      Created with 🖤 by <%= link("Bruno Paulino",
        to: "https://twitter.com/bpaulino0",
        class: "underline"
      ) %>
    </li>
  </ul>
</footer>
