<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <link
      rel="icon"
      type="image/svg+xml"
      href={Routes.static_path(@conn, "/images/tiny-ig-color.svg")}
    />
    <title>TinyIG</title>
    <%= live_title_tag(assigns[:page_title] || "TinyIG", suffix: " · Phoenix Framework") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body class="px-2">
    <%= render("header.html", assigns) %>
    <%= @inner_content %>
    <%= render("footer.html", assigns) %>
  </body>
</html>
