<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <link
      rel="icon"
      type="image/svg+xml"
      href={Routes.static_path(@conn, "/images/turbo-racer.svg")}
    />
    <title>Turbo Racer</title>

    <meta name="author" content="Bruno Paulino" />
    <meta name="description" content="High-performance backend for Turborepo cache" />
    <meta name="keywords" content="monorepo,turborepo,typecript,javascript,ci" />
    <!-- Open Graph meta properties for beautifully rendering link previews on social -->
    <!-- See: https://ogp.me/ -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={TurboWeb.Endpoint.url()} />
    <meta property="og:title" content="Turbo Racer" />
    <meta property="og:description" content="High-performance backend for Turborepo cache" />
    <meta property="og:image" content={Routes.static_url(@conn, "/images/turbo_racer_cover.jpg")} />

    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={Routes.static_path(@conn, "/assets/app.js")}
    >
    </script>
  </head>
  <body class="px-2">
    <%= render("header.html", assigns) %>
    <%= @inner_content %>
    <%= render("footer.html", assigns) %>
  </body>
</html>
